<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Insert title here</title>
	</head>
	<body>
		<aside th:fragment="aside" class="publicidad d-none d-lg-block">
			<div class="col-md-12">
				<div class="card">
					<img class= "card-img-top"alt="anuncio 1" src="/images/anuncios.png" >
				</div>
				<div class="card">
					<img class= "card-img-top"alt="anuncio 2" src="/images/anuncios.png">
				</div>	
				<div class="card">
				   <img class= "card-img-top"alt="anuncio 3" src="/images/anuncios.png">
				</div>						  
			</div>
		</aside>
	  	
	</body>
</html>