<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>UPS!! Sorry :( </title>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		
	</head>
	<body>
	
		<div class="cont-img">
		   <img src="/images/en-construccion.png" width="960" height="540" />
		   
		 </div>
		<div style="margin-left:2rem"> 
			<h2><a href="/inicio">VOLVER</a></h2>
		 </div>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>